{# src/Bemoove/AppBundle/Resources/views/Coach/mytraining.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My training session{% endblock %}

{% block body %}
    <h1>My training session</h1>
    <section class="row">
        <div class="wrapper">
            <nav class="sm-2">
                <h2>liens coach</h2>
                <ul>
                    <li>
                        <a href="{{ path('bemoove_app_coach_dashboard') }}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('bemoove_app_coach_profile') }}">My profile</a>
                    </li>
                    <li>
                        <a href="{{ path('bemoove_app_coach_mytraining') }}">My trainning</a>
                    </li>
                    <li>
                        <a href="{{ path('bemoove_app_coach_gallery') }}">My Images</a>
                    </li>
                </ul>
            </nav>
            <div class="sm-10">
                <h2>My training session</h2>
                <a href="{{ path('bemoove_app_coach_addtraining') }}" class="button">Ajouter une nouvelle session</a>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Date / heure</th>
                        <th>Sport</th>
                        <th>Tags</th>
                        <th>Duration</th>
                        <th>Place</th>
                        <th>Ticket avaible</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>

                    {% for trainingSession in trainingSessionList %}
                        <tr>
                            <td>{{ trainingSession.id }}</td>
                            <td>{{ trainingSession.date|date('H:i d-m-Y ') }}</td>
                            <td>{{ trainingSession.sport.name }}</td>
                            <td>
                                <ul>
                                    {% for tag in trainingSession.tags %}
                                        <li>{{ tag.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ trainingSession.duration|date('H:i') }}</td>
                            <td>{{ trainingSession.address.city.name }}</td>
                            <td>{{ trainingSession.nbTicketAvailable }}
                                /
                                {{ trainingSession.nbTicketAvailable }}</td>
                            <td>{{ trainingSession.price }}</td>
                            <td>
                                <a href="{{ path('bemoove_app_search_viewtraining', {'idtrainingsession': trainingSession.id}) }}" class="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('bemoove_app_coach_edittraining', {'idtrainingsession': trainingSession.id}) }}" class="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas d'idée dans cette catégorie.</td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
        <section>
        {% endblock %}
        