{# src/Bemoove/AppBundle/Resources/views/Sporty/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My sporty profile{% endblock %}

{% block body %}
    <h1>My sporty profile</h1>
    <section class="row">
        <div class="wrapper">
            <nav class="sm-2">
                <h2>liens sporty</h2>
                <ul>
                    <li><a href="{{ path('bemoove_app_sporty_profile') }}">My profile</a></li>
                    <li><a href="{{ path('bemoove_app_sporty_messagerie') }}" class="notready">Messaging</a></li>
                    <li><a href="{{ path('bemoove_app_sporty_comingtraining') }}" class="notready">My comming trainning</a></li>
                    <li><a href="{{ path('bemoove_app_sporty_pasttraining') }}" class="notready">My past trainning</a></li>
                    <li><a href="{{ path('bemoove_app_sporty_favorites') }}" class="notready">Favorites</a></li>
                </ul>
            </nav>
            <div class="sm-10">
                <h2>My profile</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <section>
{% endblock %}
