<div class="sm-4 trainingsession">
    <a href="{{ path('bemoove_app_search_viewtraining', {'idtrainingsession': trainingSession.id}) }}">
        {% if trainingSession.photo != null %}
            <img src="/{{ trainingSession.photo.getWebPath() }}" class="sm-12"/>
        {% else %}
            <img src="/uploads/images/trainingsession/default.jpg" class="sm-12"/>
        {% endif %}

    </a>
    <h3>{{ trainingSession.title }}</h3>
    <p>
        {{ trainingSession.sport.name }}
        le {{ trainingSession.date|date('Y-m-d \à H:i:s') }}
    </p>
    <div class="session_more_info">
        <p>Durée : {{ trainingSession.duration|date('H:i') }}</p>
        <p>{{ trainingSession.address.city.name }}</p>
        <p>{{ trainingSession.nbTicketAvailable }}</p>
        <p>{{ trainingSession.price }}</p>
        <ul class="inline">
            {% for tag in trainingSession.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <p>Le coach :
            {{ trainingSession.coach.profile.firstname }}
            {{ trainingSession.coach.profile.lastname }}</p>
            <p>
                <a href="{{ path('bemoove_app_search_viewtraining', {'idtrainingsession': trainingSession.id}) }}"  class="button">See</a>
            </p>
            {% if trainingSession.soldOut == false %}
                <p>
                    <a href="{{ path('bemoove_app_sporty_direct_booking', {'id_session': trainingSession.id}) }}" class="button">M'inscrire</a>
                </p>
            {% endif %}
    </div>
</div>